<!DOCTYPE html>
<html>
<form method="post">
    <label for="firstName">First name:</label><br>
    <input type="text" id="firstName" name="firstName"><br>
    <label for="lastName">Last name:</label><br>
    <input type="text" id="lastName" name="lastName"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="confirmPassword">Confirm password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword"><br>
    <input type="submit">
</form>
</html>