input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radio-uc input[type=radio]:checked~label {
    background-color: #171717;
    color: white;
}